@import '../../../style/common';

.ms-ovr:hover{
    opacity: 0.85;
}

.badge-danger{
    background-color: #D53307 !important;
}

.badge-success{
    background-color: #0F8802 !important;
}

.badge-primary{
    background-color: #0071EB !important;
}