/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'IBM Plex Serif', serif;
  font-size: .8rem;
  height: 100vh;
  background-color: #ffffff;
}

html {
  height: 100vh;
}
  
