<main role="main" class="h-100 container-fluid p-0">
    <div class="h-100 row no-gutters">
        <div class="parent-div">
            <div class="row head-div">
                <h5>Journals Data Month to Date</h5>
            </div>
            <app-journal-master-graphs></app-journal-master-graphs>
            <div class="row chld-div">
                <div class="col">
                    <app-journal-master-list></app-journal-master-list>
                </div>
            </div>
        </div>
    </div>
</main>