@import '../../../style/common';

input:focus, button:focus{
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.show-box{
    background-color: rgba(220,220,220, 0.16);
}