<div class="row px-2 py-1 jcc-section-header">
    {{heading}}
</div>
<div class="p-1 pl-3 pr-3 row">
    <div class="col container-fluid">
        <div class="row content-div p-2">
            <div class="col">
                <app-combobox ctrlId="cmbRole" label="Role" placeholder="Select role" keyInNumber="true" (valueChange)="onRoleChanged($event)"
                    [(model)]="roleSelected.id" minLabelLen="120px" [list]="roleList" key="id" value="name" ariaLabel="Select role"></app-combobox>
            </div>
            <div class="col"></div>
        </div>
        <app-role-action [roleDetails]="roleDetails"></app-role-action>
    </div>
</div>