
$font-family: 'IBM Plex Sans', sans-serif;
$disable-color: #F8F8F8;
$tbl-border-color: #C0C0C0;
$tbl-odd-row-background-color: #F8F8F8;
$tbl-tr-hover-background-color: #E8E8E8;
$disabled-opacity: 0.4;
$success-color: green;
$failure-color: #C70000;
$del-row-background-color: rgb(255,0,0, 0.2);
$error-text-color: #DC143C;
$control-border-color: #ced4da;
$master-file-color: #DC143C;
$box-shadow-color: rgba(0, 0, 0, .4);
$anomaly-tr-back-color: #FFF0F0;
$anomaly-text-color: #DC143C;
$success-box-back-color: rgb(144,238,144, 0.2);
$success-box-text-color: rgb(0,128,0);
$inactive-text-color: #808080;
$fail-box-color: rgba(255,99,71, 0.2);
$pass-box-color: rgba(152,251,152, 0.5);
$gray-text: #757575;