.w-0{
  width: 0%;
}

.w-3{
  width: 3%;
}

.w-5{
  width: 5%;
}

.w-7{
  width: 7%;
}

.w-8{
  width: 8%;
}

.w-9{
  width: 9%;
}

.w-10{
  width: 10%;
}

.w-12{
  width: 12%;
}

.w-13{
  width: 13%;
}

.w-14{
  width: 14%;
}

.w-15{
  width: 15%;
}

.w-17{
  width: 17%;
}

.w-18{
  width: 18%;
}

.w-20{
  width: 20%;
}

.w-21{
  width: 21%;
}

.w-22{
  width: 22%;
}

.w-25{
  width: 25%;
}

.w-27{
  width: 27%;
}

.w-30{
  width: 30%;
}

.w-33{
  width: 33%;
}

.w-34{
  width: 34%;
}

.w-35{
  width: 35%;
}

.w-40{
  width: 40%;
}

.w-41{
  width: 41%;
}

.w-45{
  width: 45%;
}

.w-46{
  width: 46%;
}

.w-48{
  width: 48%;
}

.w-50{
  width: 50%;
}

.w-55{
  width: 55%;
}

.w-60{
  width: 60%;
}

.w-65{
  width: 65%;
}

.w-85{
  width: 85%;
}