@import '../../../style/common';

input:focus, button:focus, select:focus{
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    outline: none !important;
}

.custom:disabled{
    background-color: $disable-color;
}

.invalid-text {
    width: 100%;
    margin-top: .25rem;
    color: $error-text-color;
}

.invalid-textbox{
    border: solid 1px $error-text-color;
}

.mandatory-star{
    font-size: 1.3rem; 
    line-height: 10px;
}

.marked-item{
    font-weight: bold;
    color: blue;
}

.no-border{
    border: 0px;
    -webkit-appearance: none;
}