@import '../../../style/common';

.invalid-text {
    width: 100%;
    margin-top: .25rem;
    color: #dc3545;
}

.btn-text{
    font-size: 1rem !important;
}

.mandatory-star{
    font-size: 1.3rem; 
    line-height: 10px;
}

.font-uploader{
    font-size: 0.8rem !important;
}