<div class="border border-dark rounded p-0 tm-div">
    <div class="row p-0">
        <div class="col tm-pic">
            <img src="../../../assets/img/login-board.png" height="100%" width="100%" alt="terms & conditions">
        </div>
    </div>
    <div class="row p-2">
        <div class="col font-stndrd tm-header tm-txt-clr text-center font-weight-bold">
            Terms & Conditions
        </div>
    </div>
    <div class="row p-2 pt-0">
        <div class="col font-stndrd tm-txt-clr text-justify">
            <span class="tm-span" [innerHTML]="bodyHtml"></span>
        </div>
    </div>
</div>
<div class="down-arrow"></div>