@import '../../../../style/common';
@import '../../../../style/table';

.table-area{
    max-height: 480px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.graph-show{
    width: 90%;
    height: 500px;
    padding-top: 10px;
    border: solid 1px $tbl-border-color;
    box-shadow: 8px 8px 5px $box-shadow-color;
}