.jcc-section{
    height: 80vh;
}

.bg-menu {
  background-color: #E0E1E3;
}

.jcc-action-area {
  height: 60vh;
}

.bg-log {
  background-color: #ffffff; // #F7F7F7;
}

.j-info{
  position: absolute;
  color: #D14600;
  z-index: 300;
  right: 10px;
  top: 55px;
  font-weight: bold;
  font-size: 1.0rem !important;
}