<div class="row px-2 py-1 jcc-section-header">
    <div class="col">
        <app-detail-main-area-header [headerName]="heading"></app-detail-main-area-header>
    </div>
</div>
<div class="row p-2 justify-content-center">
    <div class="col">
        <app-navbar ctrlId="profitAndLossTab" [tabList]="tabList" (activeTabChanged)="onChangedActiveTab($event)"></app-navbar>
        <div class="row content-div" *ngIf="activeTab === tabList[0]">
            <div class="col">
                <div class="row p-2">
                    <app-loader [isLoading]="isLoading"></app-loader>
                    <div class="table bg-white cu-tbl only-head">
                        <div class="cu-thead">
                            <div class="cu-tr">
                                <div class="cu-th w-10 no-border text-center" scope="col">GL Account</div>
                                <div class="cu-th w-9 no-border text-center" scope="col">Cost Center</div>
                                <div class="cu-th w-9 no-border text-center" scope="col">Profit Center</div>
                                <div class="cu-th w-12 no-border text-center" scope="col">Cross Company Code</div>
                                <div class="cu-th w-10 no-border text-center" scope="col">Current Value</div>
                                <div class="cu-th w-10 no-border text-center" scope="col">DR</div>
                                <div class="cu-th w-10 no-border text-center" scope="col">CR</div>
                                <div class="cu-th w-10 no-border text-center" scope="col">%Impact</div>
                                <div class="cu-th w-20 no-border text-center" scope="col">
                                    Historic Range
                                    <app-button value="Download" faIcon="fa-download" [isSmall]="true" type="TUMBLR" ariaLabel="Download"
                                        [isFloatRight]="true" (btnClick)="onDownloadFinancialImpact()"></app-button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-area">
                        <app-table-no-records [list]="profitLossList"></app-table-no-records>
                        <div class="table bg-white cu-tbl">
                            <div  class="cu-tbody">
                                <div class="cu-tr" *ngFor="let item of profitLossList; let odd=odd;" [ngClass]="{'odd-row': odd}">
                                    <div class="cu-td w-10 text-center" scope="row">{{item.glAccount}}</div>
                                    <div class="cu-td w-9 text-center">{{item.costCenter}}</div>
                                    <div class="cu-td w-9 text-center">{{item.profitCenter}}</div>
                                    <div class="cu-td w-12 text-center">{{item.crossCompanyCode}}</div>
                                    <div class="cu-td w-10 text-right">{{item.currentValue | moneyConverter}}</div>
                                    <div class="cu-td w-10 text-right">{{item.dr | moneyConverter}}</div>
                                    <div class="cu-td w-10 text-right">{{item.cr | moneyConverter}}</div>
                                    <div class="cu-td w-10 text-right">
                                        <div class="inner-div-bck-clr" [ngClass]="onSetImpactRiskLabelColor(item.impactRiskLevel)">
                                            {{item.impact}}%
                                        </div>
                                    </div>
                                    <div class="cu-td w-20 text-center">{{item.impactRange}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row content-div" *ngIf="activeTab === tabList[1]">
            <div class="col">
                <div class="row p-3 justify-content-center">
                    <div class="graph-show">
                        <app-bar-chart title="% impact by GL Account and Profit/Cost Center" [labels]="graphLabels" [data]="graphData" [isLegendShow]="false"
                            [size]="'LARGE' | enumValueConverter : 'chartSizes'"></app-bar-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  