@import '../../../../style/common';
@import '../../../../style/table';

.file-view{
    height: 32vh;
    max-height: 32vh;
    @extend .table-data-area;
}

.table-area{
    height: 63vh;
    max-height: 63vh;
    @extend .table-data-area;
}

.manl-col-typ-span{
    font-weight: normal;
    font-style: italic;
}